<h1>{{patient.id}}</h1>
<h1>{{patient.name}}</h1>
<h1>{{patient.sex}}</h1>
<h1>{{patient.country}}</h1>
<h1>{{patient.state}}</h1>
<h1>{{patient.address}}</h1>
<h1>{{patient.date | date}}</h1>

<li *ngFor="let comment of comments">
  <ul>{{comment.comment}}</ul>
  <ul>{{comment.date}}</ul>
</li>

<div>
  <label>Add comment:
    <input #newComment />
  </label>
  <button (click)="addComment(newComment.value); newComment.value=''">
    add comment
  </button>
</div>

<button class="delete" title="delete patient"
        (click)="deletePatient(patient)">x
</button>
<button class="edit" title="edit patient">
  <a routerLink="../../editPatient/{{patient.id}}">edit patient</a>
</button>
