<li *ngFor="let patient of patients">
  <a routerLink="../../api/getPatient/{{patient.id}}">
    <ul>{{patient.id}}</ul>
    <ul>{{patient.name}}</ul>
    <ul>{{patient.sex}}</ul>
    <ul>{{patient.state}}</ul>
    <ul>birthDate: {{patient.date | date:'yyyy-MM-dd'}}</ul>
    <ul>record created at: {{patient.createdAt | date:'yyyy-MM-dd'}}</ul>
    <ul>record updated at: {{patient.updatedAt | date:'yyyy-MM-dd'}}</ul>
  </a>
  <button class="delete" title="delete patient"
          (click)="deletePatient(patient)">x
  </button>

</li>
